@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  font-family: "Noto Serif";
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.title h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
  margin-top: 20px;
  text-align: left;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 60px;
  font-size: 2.6rem;
}

/* button styles */
button{
  padding: 30px 40px;
  background-color: var(--primary);
  color: rgb(15, 15, 15);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


/* upload form styles */
.upload-form{
  margin: 40px 0;
  display: flex;
  justify-content: right;
  align-items: right;
}
.upload-form input[type="file"]{
  display: none;
}
.upload-form label{
  padding: 10px 20px;
  background-color: var(--primary);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.upload-form label:hover{
  background-color: #f5f5f5;
  color: var(--primary);
}
.upload-form img{
  max-width: 100%;
  margin: 20px 0;
}
.upload-form .upload-status{
  margin: 20px 0;
  text-align: center;
}
.upload-form .upload-status p{
  font-size: 1.2rem;
  font-weight: bold;
}
.upload-form .upload-status p.error{
  color: var(--error);
}
.upload-form .upload-status p.success{
  color: var(--primary);
}
.upload-form .upload-status p.uploading{
  color: #4e4e4e;
}
.upload-form .upload-status p.uploading span{
  color: var(--primary);
}
.upload-form .upload-status p.uploaded{
  color: var(--primary);
}
.upload-form .upload-status p.uploaded span{
  color: #4e4e4e;
}


/* progress bar styles */
.progress-bar{
  width: 100%;
  height: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 20px 0;
}
.progress-bar div{
  height: 100%;
  text-align: right;
  padding: 0 10px;
  line-height: 20px;
  color: white;
  background-color: var(--primary);
  border-radius: 10px;
}
.progress-bar div span{
  font-size: 0.8rem;
}


/* image grid styles */
.image-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 40px 0;
}
.image-grid img{
  width: 100%;
  border-radius: 5px;
}
.image-grid img:hover{
  transform: scale(1.05);
  transition: transform 0.3s;
}
.image-grid .image-grid-item{
  position: relative;
}
.image-grid .image-grid-item button{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.image-grid .image-grid-item button:hover{
  background-color: #f5f5f5;
  color: var(--primary);
} 

.image-grid .image-grid-item button:active{
  transform: scale(0.95);
}

.image-grid .image-grid-item button:focus{
  outline: none;
}
.image-grid .image-grid-item button:disabled{
  background-color: #f5f5f5;
  color: var(--secondary);
  cursor: not-allowed;
}
.image-grid .image-grid-item button:disabled:hover{
  background-color: #f5f5f5;
  color: var(--secondary);
}


/* modal styles */